<div class="row">
	<div class="col-xs-12 col-md-6 col-lg-4">
		<!-- this is the full one that should be chosen -->
		<a class="thumbnail" href="#"><img class="img-responsive video-thumbs" alt="fingers with black marker smilies" src="http://static.bigstockphoto.com/images/homepage/2016_bigstock_picks.jpg" target="_blank" /></a> 
	</div>
	<div class="col-xs-12 col-md-6 col-lg-4">
		<a class="thumbnail" href="#"><img class="img-responsive video-thumbs" src="https://www.sitebuilderreport.com/assets/facebook-stock-up-08c6c9a855df26a3b13a34ac62bb75cc.jpg" /></a>
	</div>
	<div class="col-xs-12 col-md-6 col-lg-4">
		<a class="thumbnail" href="#"><img class="img-responsive video-thumbs" src="http://www.stockfreeimages.com/static/homepage/light-bulb-free-stock-photo-8249013.jpg" /></a>
	</div>
	<div class="col-xs-12 col-md-6 col-lg-4">
			<a class="thumbnail" href="#"><img class="img-responsive video-thumbs" src="http://img05.deviantart.net/e062/i/2012/337/7/0/sheep_stock_06_by_jaded_night_stock-d5mxug7.jpg"></a>
	</div>
</div>

<!-- Note, only copy the thumbnail divs, not the row div -->