/* GENERAL STYLES */

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

* {
	font-size: 1em;
}

h1,
p {
	text-align: center;
}



/* HEADER STYLES */

/* MAIN CONTENT STYLES */

.nav-btn {
	margin: 15px auto;
}

.thumbnail,
.search-form {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.thumbnail {
	height: auto;
	width: 300px;
	
}

.search-form {
	margin-top: 20px;
	margin-bottom: 20px;
}