/* GENERAL STYLES */

html {
	box-sizing: border-box;
}

body, html {
	height: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

* {
	font-size: 1em;
}

body {
	background: #C0C0C0 url('http://i2.mirror.co.uk/incoming/article88024.ece/ALTERNATES/s615/cello-c42t71dvb-3d-tv-108236016.jpg') no-repeat fixed center;
	background-size: cover;
}

h1,
p {
	text-align: center;
	color: red;
	font-weight: bold;
}

img {
	max-height: 180px;
}



/* HEADER STYLES */


/* MAIN CONTENT STYLES */

.next-last-pages {
	width: 100%;
}

.next-last-pages ul {
	list-style: none;
	padding-left: 0;
}

.next-last-pages ul li a {
	width: 100%;
}

.nav-btn {
	margin: 15px auto;
}

.thumbnail,
.search-form {

	margin-left: auto;
	margin-right: auto;
}

.thumbnail {
	height: auto;
	width: 350px;
	display: block;
}

.search-form {
	margin-top: 20px;
	margin-bottom: 20px;
}

.form-group {
	display: inline-block;
}

#search-term:focus {
	box-shadow: 1px 1px 5px 5px gray inset;
}

#search-term:hover,
.search-btn:hover,
.navbar-btn:hover {
	border: 1px solid red;
}

#search-term:active,
.search-btn:active,
.navbar-btn:active {
	border: 1px solid red;
}

.gallery > .container {
	width: 100%;
}



/* MEDIA QUERIES */

@media (min-width: 630px) {
	
	.navigators > .container,
	.search-box > .container {
		width: 100%;
		text-align: center;
	}
	
	.next-last-pages > ul {
		display: inline-block;
	}

	.next-last-pages .left{
		float: left;
		margin-right: 10px;
	}

	.next-last-pages .right{
		float: right;
		margin-left: 10px;
	}

	#search-term {
		padding-right: 150px;
	}

}

@media (min-width: 1000px) {

	.gallery > .container {
		width: 90%;
	}

}

@media (min-width: 1200px) {

	.row {
		margin-left: 3px;
	}
}